<div class="container">
<h1>About</h1>
<p>Why Fleeting? Because note taking should be transitory.</p>
<img src="http://lucidpractice.com/wp-content/uploads/2014/01/Dali-Persistence-of-Memory-1931-Museum-of-Modern-Art-New-York.jpg" alt="persistence of memory" >
</div>