<div class="jumbotron">
	<h1 class="header-title">Fleeting</h1>
  <h3 class="text-center"><small>The easiest way to create self-destructing to-do lists. 
      What we want is order not </small></h3>
    </br>
      <p class="text-center"><a class="btn btn-primary btn-large" role="button">Sign Up</a></p>
</div>