<div class="jumbotron">
	<h1 class="header-title">Fleeting</h1>
  <h3 class="text-center"><small>The easiest way to create self-destructing to-do lists. 
      Because what is needed is order not clutter.</small></h3>
    </br>
    <p class="text-center">
    <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>
</br>
  <center> <img src="http://teampwnicorn.com/wp-content/uploads/2013/02/To-Do-List.jpg">
</center>