<div class="row">
  <div class="col-md-4">
    </div>
  <div class="col-md-4">
    <div class="jumbotron">
    <h4>Your To-Do:</h4>
      <% @todos.each do |t| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to t.description, t %>
          </h4>
        </div>
      </div>
      <% end %>
    </div>
  <center><%= link_to 'New To-Do', new_todo_path, class: "btn btn-primary btn-large" %></center>
  </div>
<div class="col-md-4">
</div>
</div>


